/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Here we go */
body {
  display: grid;
  margin-bottom: 176px;
  justify-items: center;
  grid-template-rows: auto 1fr;
  background: #352074;
  color: #19d3ff;
}

header {
  margin: 0 20px;
  align-self: start;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #1789e8, inset 0px 1px 2px 2px #1789e8;
  justify-self: stretch;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
}

main {
  margin-top: 30px;
  justify-self: stretch;
}

ul {
  margin: 0 40px;
  display: grid;
  row-gap: 30px;
  justify-items: center;
}

li {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #7617e8, inset 0px 1px 2px 2px #7617e8;
  background: rgba(83, 175, 255, 0.15);
  transition: all 250ms;
}

li:hover {
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #40028b, inset 0px 1px 2px 2px #40028b;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 8px;
  border-bottom: 1px solid #1789e8;
}

.user-message {
  padding: 16px;
}

p {
  font-size: 18px;
}

a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.new-message {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #e81717, inset 0px 1px 2px 2px #e81717;
  background: rgba(248, 69, 69, 0.4);
  transition: all 500ms;
}

.new-message:hover {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  background: rgba(248, 69, 69, 1);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;
}

label {
  font-size: 22px;
  margin-bottom: 10px;
}

input,
textarea {
  border: 0;
  outline: none;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #1789e8, inset 0px 1px 2px 2px #1789e8;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 20px;
  color: #19d3ff;
  font-size: 22px;
  background: linear-gradient(45deg, #0000003b, transparent);
  margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #19d3ff;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

.options {
  display: flex;
  justify-content: space-around;
}

.options > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border: 0;
  background: none;
  font-size: 18px;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #1789e8, inset 0px 1px 2px 2px #1789e8;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 250ms;
}

.add-btn {
  background: rgba(23, 232, 75, 0.1);
}

.back-btn {
  background: rgba(245, 38, 38, 0.1);
}

.add-btn:hover,
.back-btn:hover {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.add-btn:hover {
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #17e84b, inset 0px 1px 2px 2px #17e84b;
  background: rgba(23, 232, 75, 0.3);
}

.back-btn:hover {
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 2px 2px #f52626, inset 0px 1px 2px 2px #f52626;
  background: rgba(245, 38, 38, 0.3);
}
